
<ng-container >
  <div  *transloco="let t">
    <h1 >Simple texte </h1>
    <span> {{ t('hello') }} </span>

    <h1>Texte avec valeur dynamique</h1>
    <span> {{ t('dynamic', { value: "Boubou"}) }} </span>
    <div>
      <button *ngFor="let v of languages" (click)="change(v.key)">{{ v.label }}</button>
    </div>
  </div>


  <div  *transloco="let t; read: 'object' " >
    <h1 >Utiliser un object dans le fichier de translation </h1>
    <span>{{ t('name') }} </span> <br>
    <span>{{ t('description') }} </span> <br>
  </div>
</ng-container>
<router-outlet></router-outlet>
